/* Full galaxy background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("cygnus-galaxy.jpg"); /* ganti dengan nama file gambar kamu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    position: relative;
}

/* DARK OVERLAY AGAR TEKS TERLIHAT */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55); /* 55% gelap */
    z-index: 1;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navbar .logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #aa77ff;
}

/* CONTENT */
.content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 18%;
    color: white;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.content p {
    font-size: 22px;
}
